asgiref==3.2.5
authy==2.2.5
certifi==2019.11.28
chardet==3.0.4
Django==3.0.4
django-cors-headers==3.2.1
django-mysql-ssl==0.0.1
djangorestframework==3.11.0
hellosign-python-sdk==4.0.0
idna==2.9
mysqlclient==2.0.1
pytz==2019.3
requests==2.23.0
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
quickemailverification==1.0.3
holidays
jsonfield==3.1.0
