<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <title>Prequalify Form</title>
</head>
<body>
	<h1>New Prequalify Form</h1>
	
	<p>
	- Primary Applicant<br>
	&emsp;Name: {{name}}<br>
	&emsp;Street: {{street}}<br>
	&emsp;State: {{state}}<br>
	&emsp;City: {{city}}<br>
	&emsp;Zip: {{zip}}<br>
	&emsp;Phone: {{phone}}<br>
	</p>

	<p>
	- Co Applicant<br>
	&emsp;Name: {{co_name}}<br>
	&emsp;Street: {{co_street}}<br>
	&emsp;State: {{co_state}}<br>
	&emsp;City: {{co_city}}<br>
	&emsp;Zip: {{co_zip}}<br>
	&emsp;Phone: {{co_phone}}<br>
	</p>
</html>
